.Container                                                                      {
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
width: 200px;
height: 50px;
margin: auto;
}
.Container>button{
  width: 2px;
  height: 6px;
  border-radius: 50%;
  background: grey;
  border:none ;

}
.black{
  background: black;
}
.imgDiv{
  width: 400px;
  height: 400px;
  margin: auto;
}